<li class="dropdown-item">
    <!-- this is calling on the message method that we made in comment_notifications -->
    <%= link_to notification.to_notification.message, notification.to_notification.url %>
</li>